body {
    width: 100%;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 80px;
    width: 100%;
    z-index: 9;
}

.header_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 52px;
    /* padding: 14px 220px; */
    margin: auto;
    align-items: center;
}

.header_container_section {
    display: flex;
    justify-content: space-between;
    width: 617px;
}

.logo {
    position: relative;
    width: 80px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-right: 63px;
}

.logo-text {
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    margin: 0 3.75px 1.55px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
}

.logo-pic {
    position: absolute;
    left: 10.23px;
    bottom: 4.59px;
    background-image: url("../../assets/images/bamboo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7.03px;
    height: 20.98px;
}

.header_nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    background: #000000;
    backdrop-filter: blur(2px);
    margin: 0;
    width: 472px;
    justify-content: space-between;
}

.header_nav__link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

li {
    list-style: none;
}

.copyright {
    color: #fff;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.copyright:hover,
.header_nav__link:hover,
.header_nav__link.active {
    color: #f9804b;
}

.header_nav:active .active:not(:active) {
    color: white;
}

.pseudo-header {
    height: 34px;
    width: 100%;
    display: none;
}

.panda-background {
    background-image: url("../../assets/images/panda_bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 386px;
    width: 100%;
    background-size: 100% auto;
}

.gradient {
    background-image: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );

    padding-top: 40px;
    padding-bottom: 180px; 
}

.gradient-container {
    width: 1160px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
  
    color: #FFFFFF;
    margin:0;
    margin-bottom: 10px;
}
  
.section-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    color: #FFFFFF;
    padding-right: 7px;
    margin:0;
    margin-bottom: 47px;
}
  
.section-text span {
    font-weight: 400;
} 
  
.donation-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;

    color: #FE9013;
    margin:0;
    margin-bottom: 60px;
}

.payment {
  
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 92px;
    padding-top: 41px;
    padding-bottom: 61.98px;
}
  
.payment-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54.6px;
    text-align: center;
  
    color: #FE9013;
    margin:0;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 13px;
    width: 47.43%;
}
  
.payment-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #333B41;
  
    margin:0;
    margin-bottom:60px;
}
  
.payment-flex {
    display: flex;
        
    margin: 0;
    margin-bottom: 86px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
  
.big-number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center;
    text-transform: uppercase;
  
    color: #000000;
    margin-bottom: 0px;
    margin-top: 25px;
}
    
.payment-text {
    margin-top: 80px;
    margin-left: -28px;
}
  
.small-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
  
    color: #333B41;
    margin-top:10px;
    padding-bottom: 10px;
    width: 159px;
  
}
  
.payment-panda-icon {
    background-image: url("../../assets/images/animals-widget.png");
    background-size: auto 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 269px;
    height: 200px;
    padding-top: 45px;
    margin-left: 9px;
}
  
.x-icon {
    margin-right: 58px;
    margin-left: 11px;
    margin-top: 129px;
    background-image: url("../../assets/images/x_icon.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 14px;
    height: 14px;
}
  
.range-title {
    position: absolute;
    top: -39px;
    left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
  
    color: #000000;
  
    margin: 0;
}
  
.range-box {
    position: relative;
    height: 2px;
    width: 100%;
    background-image: url("../../assets/images/rec11.png");
    padding: 12.5px 0px;
    align-items: center;
}
    
.range-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 2px;
    width: 93.75%;
    background-color: #72828E;
    margin-left: auto;
    margin-right: auto; 
}
  
.radio-button {
    position: relative;
    width: 2px;
    height: 2px;
    align-items: center;
}
  
.button-area {
    position: absolute;
    left: -1050%;
    top: -950%;
    height: 40px;
    width: 40px;
    cursor: pointer; 
    background-image: url("../../assets/images/Ellipse7.png");
    background-repeat: no-repeat;
    background-position: center center;
}
  
  
.button-area:hover, .active-point {
    background-image: url("../../assets/images/roller_icon_full.png");
    background-repeat: no-repeat;
    background-position: center;
}
  
.radio-price {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    top: 2px;
  
    color: #333B41;
}
  
.button-area:hover .radio-price, .active-point .radio-price {
    color:#FE9013;
}

form{ 
    position: relative;
}
  
.input-price {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:262px;
    height:50px;
    border: 1px solid #929699;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
}

.input-dollar-sign {

    position: absolute;
    left: 602px;
    top: 17px;
    width: 10px;
    height: 20px;
    background-image: url("../../assets/images/dollar.svg");
    background-repeat: no-repeat;
}
  
.share {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 301px;
}
  
.input-price::-webkit-outer-spin-button, .input-price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.true-radio {
    display: flex;
    width: 197px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    padding-right: 15px;
    justify-content: space-between;
}
  
.true-radio input  {
    position: absolute;
    visibility: hidden;  
}
  
label {
    display: flex;
}
  
.pseudo-radio {
    width: 14px;
    height: 14px;
    background: none;
    border-radius: 50%;
    border: 1px solid #E47209;
    margin-right: 6px;
}
  
.true-radio input:checked + .pseudo-radio {
    background-color: #4B9200;
    border-color: #4B9200;
}
  
.long-button {
    color: #fff;
    background-color: #fe9013;
    border-radius: 25px;
    border: none;
  
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
  
    color: #ffffff;
}
  
.long-button:hover {
    background-color: #E47209;
}
  
.long-button:active {
    background: none;
    background-color:#4B9200;
}

.feedback_button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
}

.input-button-container{
    padding-left: 3px;
}
  
.choose {
    display: block;
    width: 298px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30.02px;
}

footer {
    background-color: #111115;
    padding-top: 40px;
    padding-bottom: 50px;
}
  
.footer_logo_mobile {
    display: none;
}
  
.footer_container {
    width: 100%;
    max-width: 1160px;
    margin: auto;
}
  
.footer_container__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 36px;
}
  
.footer_logo {
    flex-shrink: 0;
}
  
.footer_form__title {
    margin: 0 0 14px 0;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
  
.footer_form {
    display: flex;
}
  
.footer_form__input {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 10px;
    background-color: #000000;
    border: 1px solid #f9804b;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 10px;
    width: 228px;
    height: 42px;
}
  
.footer_form__submit {
    padding: 10px 39px;
    background-color: #f1f3f2;
    color: #767474;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #767474;
    border-radius: 5px;
    cursor: pointer;
    height: 42px;
}
  
.footer_form__input:focus ~ .footer_form__submit {
    color: #4B9200;
    border-color: #4B9200;
}

.footer_form__input:focus:invalid ~ .footer_form__submit {
    color: #D31414;
    border-color: #D31414;
}
  
.footer_socials_tablet {
    display: none;
}
  
.footer_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 44px;
    overflow: hidden;
}
  
.footer_socials {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
  
.footer_socials li:not(:last-child) {
    margin-bottom: 10px;
}
  
.footer_socials__link {
    display: flex;
    align-items: center;
}
  
.footer_socials__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5);
}
  
.footer_socials__link:hover .footer_socials__logo {
    background-color: #E47209;
}
  
.footer_socials__link:active .footer_socials__logo {
    background-color: #4B9200;
}
  
.footer_socials__text {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
}
  
.footer_socials__link:hover .footer_socials__text {
    text-decoration: underline;
    color: #E47209;
}
  
.footer_socials__link:active .footer_socials__text {
    text-decoration: underline;
    color:#4B9200;
}
  
.footer_nav {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 115px;
    list-style-type: none;
}
  
.footer_nav li:not(:last-child) {
    margin-right: 58px;
}
  
.footer_nav__link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
  
.footer_nav__link.active {
    color: #f9804b;
}
  
.footer_nav__link:hover {
    color: #f9804b;
}

.footer_nav:active .active:not(:active) {
    color: white;
}
    
.footer_copyright {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 10px;
}
.footer_copyright:last-child {
    padding-bottom: 0px;
}
