body {
    width: 100%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 80px;
    width: 100%;
    z-index: 9;
}

.header_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 52px;
    /* padding: 14px 220px; */
    margin: auto;
    align-items: center;
}

.header_container_section {
    display: flex;
    justify-content: space-between;
    width: 617px;
}

.logo {
    position: relative;
    width: 80px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-right: 63px;
}

.logo-text {
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    margin: 0 3.75px 1.55px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
}

.logo-pic {
    position: absolute;
    left: 10.23px;
    bottom: 4.59px;
    background-image: url("../../assets/images/bamboo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7.03px;
    height: 20.98px;
}

.header_nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    background: #000000;
    backdrop-filter: blur(2px);
    margin: 0;
    width: 472px;
    justify-content: space-between;
}

.header_nav__link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

li {
    list-style: none;
}

.copyright {
    color: #fff;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.copyright:hover,
.header_nav__link:hover,
.header_nav__link.active {
    color: #f9804b;
}

.header_nav:active .active:not(:active) {
    color: white;
}

.pseudo-header {
    height: 34px;
    width: 100%;
    display: none;
}

.burger-button {
    display: none;
    position: absolute;
    top: 11px;
    right: 20px;
    width: 18px;
    height: 10px;
    box-shadow: none;
    background-image: url("../../assets/images/burger_menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.cross-button {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 18px;
    height: 18px;
    box-shadow: none;
    background-image: url("../../assets/images/x-button.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100%;
    cursor: pointer;
}

.burger-menu {
    display: none;
    position: fixed;
    top: 34px;
    width: 100%;
    height: 309px;
    background-color:  #E5E5E5;
    z-index: 10;
    padding-top: 10px;
    padding-left: 10px;
}

.burger-logo {
    display: block;
    width: 58px;
    height: 35.92;
    border: 1px solid #E47209;
    color:#E47209;
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    text-align: center;
    padding: 2.84px 3.8px;
    margin-bottom: 30.4px;
    text-decoration: none;
}

.burger-link {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: left;

    color: #333B41;
    text-decoration: none;
}

.burger-link:hover {
    color:#E47209;
}

.dark-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
}

.panda-background {
    background-image: url("../../assets/images/panda_bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 386px;
    width: 100%;
    background-size: 100% auto;
}

.gradient {
    background-image: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );

    padding-top: 40px;
    padding-bottom: 180px; 
}

.gradient-container {
    width: 1160px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
  
    color: #FFFFFF;
    margin:0;
    margin-bottom: 10px;
}
  
.section-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    color: #FFFFFF;
    padding-right: 7px;
    margin:0;
    margin-bottom: 47px;
}
  
.section-text span {
    font-weight: 400;
} 
  
.donation-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;

    color: #FE9013;
    margin:0;
    margin-bottom: 60px;
}

.payment {
  
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 92px;
    padding-top: 41px;
    padding-bottom: 61.98px;
}
  
.payment-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54.6px;
    text-align: center;
  
    color: #FE9013;
    margin:0;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 13px;
    width: 47.43%;
}
  
.payment-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #333B41;
  
    margin:0;
    margin-bottom:60px;
}
  
.payment-flex {
    display: flex;
        
    margin: 0;
    margin-bottom: 86px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
  
.big-number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center;
    text-transform: uppercase;
  
    color: #000000;
    margin-bottom: 0px;
    margin-top: 25px;
}
    
.payment-text {
    margin-top: 80px;
    margin-left: -28px;
}
  
.small-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
  
    color: #333B41;
    margin-top:10px;
    padding-bottom: 10px;
    width: 159px;
  
}
  
.payment-panda-icon {
    background-image: url("../../assets/images/animals-widget.png");
    background-size: auto 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 269px;
    height: 200px;
    padding-top: 45px;
    margin-left: 9px;
}
  
.x-icon {
    margin-right: 58px;
    margin-left: 11px;
    margin-top: 129px;
    background-image: url("../../assets/images/x_icon.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 14px;
    height: 14px;
}
  
.range-title {
    position: absolute;
    top: -39px;
    left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
  
    color: #000000;
  
    margin: 0;
}
  
.range-box {
    position: relative;
    height: 2px;
    width: 100%;
    background-image: url("../../assets/images/rec11.png");
    padding: 12.5px 0px;
    align-items: center;
}
    
.range-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 2px;
    width: 93.75%;
    background-color: #72828E;
    margin-left: auto;
    margin-right: auto; 
}
  
.radio-button {
    position: relative;
    width: 2px;
    height: 2px;
    align-items: center;
}
  
.button-area {
    position: absolute;
    left: -1050%;
    top: -950%;
    height: 40px;
    width: 40px;
    cursor: pointer; 
    background-image: url("../../assets/images/Ellipse7.png");
    background-repeat: no-repeat;
    background-position: center center;
}
  
  
.button-area:hover, .active-point {
    background-image: url("../../assets/images/roller_icon_full.png");
    background-repeat: no-repeat;
    background-position: center;
}
  
.radio-price {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    top: 2px;
  
    color: #333B41;
}
  
.button-area:hover .radio-price, .active-point + .radio-price {
    color:#FE9013;
}

form{ 
    position: relative;
}
  
.input-price {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:262px;
    height:50px;
    border: 1px solid #929699;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
}

.input-dollar-sign {

    position: absolute;
    left: 602px;
    top: 17px;
    width: 10px;
    height: 20px;
    background-image: url("../../assets/images/dollar.svg");
    background-repeat: no-repeat;
}
  
.share {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 301px;
}
  
.input-price::-webkit-outer-spin-button, .input-price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.true-radio {
    display: flex;
    width: 197px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    padding-right: 15px;
    justify-content: space-between;
}
  
.true-radio input  {
    position: absolute;
    visibility: hidden;  
}
  
label {
    display: flex;
}
  
.pseudo-radio {
    width: 14px;
    height: 14px;
    background: none;
    border-radius: 50%;
    border: 1px solid #E47209;
    margin-right: 6px;
}
  
.true-radio input:checked + .pseudo-radio {
    background-color: #4B9200;
    border-color: #4B9200;
}
  
.long-button {
    color: #fff;
    background-color: #fe9013;
    border-radius: 25px;
    border: none;
  
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
  
    color: #ffffff;
}
  
.long-button:hover {
    background-color: #E47209;
}
  
.long-button:active {
    background: none;
    background-color:#4B9200;
}

.feedback_button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
}

.input-button-container{
    padding-left: 3px;
}
  
.choose {
    display: block;
    width: 298px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30.02px;
}

footer {
    background-color: #111115;
    padding-top: 40px;
    padding-bottom: 50px;
}
  
.footer_logo_mobile {
    display: none;
}
  
.footer_container {
    width: 100%;
    max-width: 1160px;
    margin: auto;
}
  
.footer_container__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 36px;
}
  
.footer_logo {
    flex-shrink: 0;
}
  
.footer_form__title {
    margin: 0 0 14px 0;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
  
.footer_form {
    display: flex;
}
  
.footer_form__input {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 10px;
    background-color: #000000;
    border: 1px solid #f9804b;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 10px;
    width: 228px;
    height: 42px;
}
  
.footer_form__submit {
    padding: 10px 39px;
    background-color: #f1f3f2;
    color: #767474;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #767474;
    border-radius: 5px;
    cursor: pointer;
    height: 42px;
}
  
.footer_form__input:focus ~ .footer_form__submit {
    color: #4B9200;
    border-color: #4B9200;
}

.footer_form__input:focus:invalid ~ .footer_form__submit {
    color: #D31414;
    border-color: #D31414;
}
  
.footer_socials_tablet {
    display: none;
}
  
.footer_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 44px;
    overflow: hidden;
}
  
.footer_socials {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
  
.footer_socials li:not(:last-child) {
    margin-bottom: 10px;
}
  
.footer_socials__link {
    display: flex;
    align-items: center;
}
  
.footer_socials__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5);
}
  
.footer_socials__link:hover .footer_socials__logo {
    background-color: #E47209;
}
  
.footer_socials__link:active .footer_socials__logo {
    background-color: #4B9200;
}
  
.footer_socials__text {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
}
  
.footer_socials__link:hover .footer_socials__text {
    text-decoration: underline;
    color: #E47209;
}
  
.footer_socials__link:active .footer_socials__text {
    text-decoration: underline;
    color:#4B9200;
}
  
.footer_nav {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 115px;
    list-style-type: none;
}
  
.footer_nav__link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
  
.footer_nav__link.active {
    color: #f9804b;
}
  
.footer_nav__link:hover {
    color: #f9804b;
}

.footer_nav:active .active:not(:active) {
    color: white;
}
    
.footer_copyright {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 10px;
}
.footer_copyright:last-child {
    padding-bottom: 0px;
}


@media screen and (max-width:1200px) {
    .header_container, .gradient-container, .footer_container {
        width: 940px;
    }

    .header_container_section {
        width: 576px;
    }

    .header_nav {
        width: 431px;
    }

    .panda-background {
        height: 390px;
        background-size: 160% auto;
        background-position: -172px center;
    }

    .section-title {
        max-width: 778px;
        margin-bottom: 30px;
    }

    .section-text {
        max-width: 939px;
    }

    .donation-title {
        margin-bottom: 40px;
    }

    .payment {
        padding: 20px 44px 46px;
    }

    .payment-title {
        width: 463px;
        margin-bottom: 13.5px;
    }

    .payment-subtitle {
        padding-left: 3px;
    }

    .range-box {
        max-width: 810px;
        margin: auto;
        border-radius: 2px;
    }

    .range-line {
        max-width: 96.91%;
    }

    .radio-button:first-child {
      display: none;
    }

    .button-area {
    left: -950%;
    }

    .input-dollar-sign {
        left: 63.5%;
    }

    .gradient {
        padding-bottom: 30px;
    }

    .footer_container__head {
        max-width: 908px;
        margin-right: auto;
    }

    .footer_form__input {
        margin-right: 9px;
    }

    .footer_nav {
        justify-content: space-between;
        width: 332px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 950px) {
    .header_nav, .copyright {
        display: none;
    }

    header {
        height: 34px;
        position: fixed;
    }

    .header_container {
        width: 100%;
    }

    .logo {
        position: absolute;
        height: 29.03px;
        width: 46.86px;
        border: none;
        left: 3.13%;
        top: 2.29px;
    }

    .logo-text {
        position: absolute;
        bottom: 0;
        font-size: 12.29px;
        line-height: 14.75px;
        font-weight: 400px;
        text-align: center;
        margin: 0px;
    }
    
      .logo-pic {
        bottom: 0.45px;
        left: 5.54px;
        width: 4.54px;
        height: 13.56px;
    }

    .burger-button {
        display: block;
    }

    .panda-background {
        height: 369px;
        background-size: 214.5% auto;
        background-position: -272px 34px;
    }

    .gradient-container, .footer_container {
        max-width: 600px;
    }

    .gradient {
        padding: 30px 0 46px;
    }

    .section-title {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    .section-text {
        max-width: 600px;
        margin-bottom: 30px;
    }

    .donation-title {
        margin-bottom: 30px;
    }

    .payment {
        padding: 32px 0 30.38px;
    }

    .payment-title {
        margin-bottom: 22px;
        width: 77.16%;
        padding-left: 13px;
    }
    
    .payment-subtitle {
        text-align: center;
        margin-bottom: 53px;
        
    }
    
    .payment-flex {
        margin-bottom: 68px;
        max-width: 100%;
    }
    
    .range-box {
        width: 100%;
    }
    
    .range-title {
        top: -30px;
        left: 10px;
    }
    
    
    .range-line {
        width: 87%;
    }
    
    .radio-button:nth-child(2), .radio-button:nth-child(3) {
        display: none;
    }
    
    .button-area.active-point {
        background-image: url("../../assets/images/roller_icon_full.png");
        background-repeat: no-repeat ;
    }
    
    .input-price {
        width: 176px;
        height: 38px;
    }
    
    .true-radio {
        margin-top: 31px;
    }

    .input-dollar-sign {
        left: 61.7%;
        top: 10px;
    }

    footer {
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 12px;
    }
    
    .footer_container__head {
        margin-bottom: 28px;
    }
    
    .footer_form, .footer_form__title {
        display:none;
    }
    
    .footer_socials {
        display: none;
    }
    
    .footer_tablet_flex {
        display: flex;
        justify-content: space-between;
    }
    
    .footer_socials_tablet {
        display: block;
        margin: 0;
    }
    
    .footer_socials_tablet li {
        margin: 0;
        margin-bottom: 20px;
    }
    
    .footer_socials_tablet .footer_socials__logo {
        margin: 0;
    }
    
    .donate_button {
        width: 142%;
       
    }
    
    .footer_bottom {
        margin-top: 22px;
    }

    .footer_bottom div {
        width: 228px;
    }
    
    .footer_nav {
        margin: 0;
        width: 300px;
    }
    
    .footer_nav li:not(:last-child) {
        margin-right: 37px;
    }
    
    .footer_copyright {
        margin-right: 28px;
    }
}

@media screen and (max-width: 620px){
    .burger-button {
        top: 12px;
        right: 10px;
    }

    .panda-background {
        height: 221px;
        background-position: -148.71px 34px;
        background-size: 239.5% auto;
    }

    .gradient-container, .footer_container {
        max-width: 300px;
    }

    .section-text {
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    .donation-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }
    
    .payment {
        padding: 20px 0;
    }
    
    .payment-title {
        width: 77.33%;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 10px;
    }
      
    .payment-subtitle {
        font-weight: 400;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 0px;
    }
    
    .payment-flex {
        justify-content: flex-start;
        margin-bottom: 25px;
    }
    
    .payment-text {
        width: 29.88%;
        margin: 0;
    }
    
    .big-number {
        font-weight: 500;
        font-size: 40.6015px;
        line-height: 80%;
        margin-top:  68px;
    }
    
    .small-text {
        width:fit-content;
        font-weight: 400;
        font-size: 9.02255px;
        line-height: 140%;
        padding: 0;
        margin-top: 6.9px;
    }
    
    .payment-panda-icon {
        width: 50.46%;
        padding: 0;
        height: 148.7px;
        background-position: left top;
        background-size: 106% auto;
        margin-left: 34.09px;
        margin-top: 10px;
    }
    
    .x-icon {
        margin-right: 0;
        margin-left: 0;
        width: 7.89px;
        height: 7.89px;
        margin-left: 6.2px;
        margin-top: 83.59px;
    }
    
    .range-title {
        left:0px;
    }
    
    .range-box {
        padding: 5.75px 0;
        
    }
    
    .button-area {
        background-size: 13% 13%;
    }
    
    .button-area:hover, .button-area.active-point {
        background-size: 50% 50%;
    }
    
    .radio-price {
        font-weight: 500;
        font-size: 13px;
    }
    
    .input-price {
        margin-top: 49px;
    }
    
    .true-radio {
        margin-top: 27px;
    }
    
    .share {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        width: 102%;
        margin: 0;
        margin-left: -4px;
        word-wrap: normal;
    }
    
    .choose {
        margin: 30px 0 28px;
    }

    .input-dollar-sign {
        left: 74%;
    }

    .gradient {
        padding-bottom: 21px;
    }

    footer {
        position: relative;
        padding: 20px 0;
    }
    
    .footer_logo_mobile {
        display: block;
        max-width: 280px;
        margin: auto;
    }
    
    .footer_logo_mobile p {
      margin-top: 0;
    }
    
    .footer_logo_mobile .logo-pic {
        left: calc(50% - 7.03px/2 + 14.62px);
        top: 17px;
        width: 10.54px;
        height: 19.56px;
    }
    
    .footer_logo_mobile p {
        display: block;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        color: #FFFFFF;
        text-align: center;
    }
    
    .footer_logo {
        display: none;
    }
    
    .footer_tablet_flex {
        display: block;
    }
    
    .footer_socials_tablet {
        display: flex;
        width: 93.75%;
        justify-content: center;
        position: absolute;
        top:73px;
        padding: 0;
        margin: auto;
    }
    
    .footer_socials_tablet li {
        margin-right: 30px;
    }
    
    .footer_socials_tablet li:last-child {
        margin-right: 0;
    }
    
    .donate_button {
        position: absolute;
        left: 9px;
        top: 129px;
        width: 93.12%;
    }
    
    .footer_bottom {
        display: block;
        margin-top: 230px;
    }
    
    .footer_copyright {
        position:absolute;
        right: 10px;
        bottom: 72px;
        text-align: right;
        width: 214px;
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        margin-right: 0;
    }
    
    .footer_copyright:first-child {
        bottom: 93px;
        right: 17px;
    }

    .footer_nav {
        width: 278px;
        margin: auto;
    }
    
    .footer_nav li:not(:last-child) {
        margin-right: 30px;
    }
    .footer_nav li:last-child {
        margin-right: 0;
    }
    
}